[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-sam-cli = "*"
black = "*"
cfn-lint = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-pythonpath = "*"
pytest-random = "*"
pytest-sugar = "*"
pytest-watch = "*"
pytest-pylint = "*"
pytest-mypy = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
