[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-sam-cli = "*"
black = "*"
cfn-lint = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-pythonpath = "*"
pytest-randomly = "*"
pytest-watch = "*"

[packages]
boto3 = "*"
structlog = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest tests --cov=app --cov-report term"
test-html = "pytest tests --cov=app --cov-report html:coverage/html"
shell = "pipenv run python -i shell.py"
deploy = "./deploy.sh"
